*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(72, 152, 72);
    display: flex;
    height: 100vh;

}
#wrapper{
    /* width: 500px; */
    /* height: 500px; */
    margin: auto;
    padding: 10px;
    background-color: white;
}
article{
    padding:  10px;
}
.article__heading{
    text-align: center;
    margin-bottom: 16px;
}
label{
    min-width: 100px;
    display: inline-block;
}
input{
    padding: 5px;

    
}
.button{
    
text-align: center;
    
}
button{
    padding: 8px 12px;
    border-radius: 4px;
}
.error{
    color:orange;
}